.textBox {
    border: 1px solid grey;
    width: 600px;
    text-align: center;
    display: block;
    min-height: 60px;
    margin: 10px;
    font-size: 15pt;
    border-radius: 7px;
    color: white;
    padding: 8px;
}