.conteiner {
  padding-top: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btnCont {
  width: 600px;
  display: flex;
  gap: 78px;
  justify-content: center;
}