.conteiner {
  padding-top: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btnCont {
  width: 500px;
  display: flex;
  gap: 22px;
  justify-content: center;
}